<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/register.css">
    <link href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <p class="sign-up">sign up to vote</p>
    <div class="register-container">
        <!-- <img src="images/vote-box.jpg" alt="vote-box" class="register-img"> -->

        <form action="/register" method="post" class="scale-up-center" enctype="multipart/form-data">
            <p class="voter">become a verified voter</p>
            <label for="first_name">first name</label>
            <input type="text" name="first_name" id="first_name">
    
            <label for="surname">surname</label>
            <input type="text" name="surname" id="surname">
    
            <label for="">other name</label>
            <input type="text" name="other_name" id="other_name">
    
            <label for="">date of birth</label>
            <input type="date" name="date_of_birth" id="dob">
    
            <label for="">state of origin</label>
            <input type="text" name="state_of_origin" id="state">
    
            <label for="">LGA</label>
            <input type="text" name="lga" id="lga">

            <label for="">Address</label>
            <input type="text" name="address" id="address">

            <label>gender</label> <br>
            <label class="label">Male
                <input type="radio" name="gender" value="Male"/>
                <span></span>
              </label>
              <label class="label">Female
                <input type="radio" name="gender" value="Female"/>
                <span></span>
              </label>
             <!-- <div class="form-check-inline">                
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender" value="Male">Male
                    </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label">
                        <input type="radio" class="form-check-input" name="gender" value="Female">Female
                    </label>
                </div> -->
                        
           
    
            <label for="">email</label>
            <input type="text" name="email_address" id="email">
    
            <label for="">phone number</label>
            <input type="text" name="phone_number" id="phone">
    
            <label for="">password</label>
            <input type="text" name="password" id="password">
    
            <label for="photo">upload picture</label>
            <input type="file" accept="image/*" name="photo" id="photo">
    
            <button type="submit">Submit</button>

            <p class="link"><a href="/admin-login">sign in as electoral officer</a> </p>
        </form>
    </div>

    <% for( let formName in locals.formErrors || {}) { %>
        <script>
            var elem = document.querySelector('[name=<%- formName%>]')
            elem.classList.add('is-invalid');
            elem.parentNode.insertAdjacentHTML('beforeend', '<span class="text-sm text-danger font-italic"><%- locals.formErrors[formName].msg %></span>')
        </script>
      <% } %>
      <% for( let formName in locals.formBody || {}) { %>
        <script>
            var elem = document.querySelector('[name=<%- formName%>]')
            if (elem.type == 'radio' || elem.type == 'checkbox') {
              document.querySelector('[name=<%- formName%>][value=<%- locals.formBody[formName] %>]').checked = true
            }else if(elem.nodeName.toLowerCase() == "select" ){
              elem.querySelector('[value=<%- locals.formBody[formName] %>]').selected = true
            }else
            elem.value = "<%- locals.formBody[formName] %>"
        </script>
      <% } %>
 
    <%- include('partials/footer'); %>

    <script src="../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>